body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    background-image: linear-gradient(to bottom, #00000093, #00000000);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    width: 98%;
}
header{
    background-image: linear-gradient(to bottom, #000000, #00000094);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
}
header h2{
    padding: 0px;
}
#logo{
    height: 75px;
    padding: 1% 0;
    margin-right: 5px;
}
/* nav h2{
    background-image: linear-gradient(to bottom, rgb(230, 98, 120), rgb(56, 56, 209), rgb(255, 186, 58));
    background-clip: text;
    color: transparent;
    font-size: 32px;
    margin-left: 1%;
} */
nav #userIcon, nav #camera, nav #browse{
    height: 50px;
    padding: 0.75%;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.61);
    border: solid 1px #f1f1f1;
}

/* .post{
    background-image: linear-gradient(145deg, #fed5f0, #ff4bbe, #a343ed, #2d14b7, #aafbff, #7bfdff, 
    #113af4, #24eefb);
    box-shadow: inset 0 0 0 1000px rgba(255,255,255,1);
    border: transparent 2px solid;
    background-clip: border-box;
    padding: 2.5%;
    margin: 5% 0;
} */

main{
    display: flex;
    align-items: center;
    flex-direction: column;
    

}
.divPost{
    max-width: 50%;
    margin: 5px;
    
    background-color: rgb(227, 232, 235);
    border-radius: 10px;
}
.divPostUser{
    background-color: rgb(216, 221, 223);
    display: flex;
    align-items: center;
    border-radius: 10px 10px 0 0;
    padding: 0px;
}
.divName{

    display: flex;
    align-items: center;
    justify-content: center;
}
.profilePic{
    margin-left: 5px;
    background-color: rgb(255, 255, 255);
    width: 40px;
    border-radius: 10px;
}
.textName{
    margin-left: 5px;
    
}
.postContent{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}
.postImg{
    width: 50%;
    border-radius: 10px;
    
}
.postFooter{
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 10px 10px;
    background-color: rgb(216, 221, 223);
}
.divLikes{
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    align-content: center;
    
}
.imgBtnLike{
    background-color: rgb(255, 255, 255);
    width: 30px;
    border-radius: 10px;
}
.btnLike{
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    border: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.likesAmount{
    margin-left: 10px;
    
}
.divDate{
    display: flex;
    padding: 0px;
    margin-right: 5px;

}
.pContent{
    width: 80%;
    text-align: justify;
}